/* Responsive adjustments */
@media (max-width: 1200px) {
  .highlight {
    font-size: 80px;
  }

  .main-text {
    font-size: 38px;
  }

  .edition1-top,
  .edition1-date,
  .edition1-month {
    font-size: 45px;
  }

  .edition1-place {
    font-size: 36px;
  }

  .text p:first-child,
  .text p:last-child {
    font-size: 45px;
  }

  .lamp::before {
    left: 83%;
  }
}

@media (max-width: 992px) {
  .header {
    padding: 30px 0;
    /* flex-direction: column; */
    justify-content: space-around;
    text-align: center;
  }

  .logo {
    margin-bottom: 20px;
  }

  .lamp::before {
    left: 77%;
  }

  .edition {
    align-items: center;
    text-align: center;
  }

  .sofa-container {
    position: relative;
  }

  .sofa-container::before {

    width: 120px !important;
    height: 120px !important;
    top: 0%;
    left: 50%;

  }

  .sofa-container::after {

    width: 150px;
    height: 150px;
    top: 15%;
    left: 40%;

  }

  .promo {
    padding: 40px 15px;
  }

  .promo-image {
    height: 300px;
  }

  .highlight {
    font-size: 70px;
  }

  .main-text {
    font-size: 34px;
  }

  .sub-text {
    font-size: 20px;
  }

  .sofa-container::before {
    width: 220px;
    height: 220px;
  }

  .promo-image img {
    max-width: 400px;
  }

  .sofa-container img {
    width: 350px;
    height: 250px;
  }

  .hve p {
    font-size: 22px;
  }

  .access p {
    font-size: 24px;
    text-align: center;
  }

  .edition1-top,
  .edition1-date,
  .edition1-month {
    font-size: 40px;
  }

  .edition1-place {
    font-size: 32px;
  }

  .text p:first-child,
  .text p:last-child {
    font-size: 40px;
  }

  .btn1,
  .btn2 {
    width: 100%;
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 20px 0;
  }

  .logo img {
    height: 60px;
  }

  .edition {
    height: auto;
  }

  .lamp::before {
    left: 50%;
    height: 100px !important;
    width: 100px !important;
  }

  .promo {
    padding: 30px 15px;
  }

  .sofa-container {
    position: relative;
  }


  .sofa-container::before {

    width: 90px !important;
    height: 90px !important;

    top: 0%;
    left: 50%;

  }

  .sofa-container::after {
    width: 120px;
    height: 120px;
    top: 15%;
    left: 40%;

  }

  .highlight {
    font-size: 60px;
  }

  .main-text {
    font-size: 28px;
  }

  .sub-text {
    font-size: 18px;
  }

  .cta-btn {
    font-size: 16px;
    padding: 8px 25px;
  }

  .sofa-container::before {
    width: 220px;
    height: 220px;
  }

  .promo-image {
    height: 220px;
  }

  .promo-image img {
    max-width: 300px;
  }

  .hve p {
    font-size: 20px;
  }

  .furniture {
    height: 300px;
  }

  .sofa-container img {
    width: 300px;
    height: 180px;
  }

  .access {
    flex-direction: column;
    text-align: center;
  }

  .access p {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .access img {
    height: 200px;
  }

  .furniture-img-container img {
    height: auto;
  }

  .edition1-top,
  .edition1-date,
  .edition1-month {
    font-size: 32px;
  }

  .edition1-place {
    font-size: 26px;
  }

  .text p:first-child,
  .text p:last-child {
    font-size: 32px;
  }

  .btn1,
  .btn2 {
    height: 60px;
    font-size: 20px;
  }

  .info p {
    font-size: 18px;
  }

  .page {
    gap: 30px;
  }

  .page h2 {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .highlight {
    font-size: 50px;
  }

  .main-text {
    font-size: 24px;
  }

  .sub-text {
    font-size: 16px;
  }

  .lamp::before {
    left: 50%;
    height: 80px !important;
    width: 80px !important;
  }

  .sofa-container::before {
    width: 180px;
    height: 180px;
  }

  .promo-image {
    height: 250px;
  }

  .sofa-container img {
    width: 420px;
    height: 200px;
  }

  .sofa-container {
    position: relative;
  }

  .sofa-container::before {

    width: 70px !important;
    height: 70px !important;

    top: 5%;
    left: 50%;

  }


  .sofa-container::after {

    width: 120px;
    height: 120px;
    top: 15%;
    left: 40%;

  }

  .promo-image img {
    max-width: 250px;
  }

  .hve p {
    font-size: 18px;
  }

  .furniture {
    height: 240px;
  }

  .access p {
    font-size: 20px;
  }

  .access img {
    height: 150px;
  }

  .furniture-img-container img {
    height: auto;
  }

  .edition1-top,
  .edition1-date,
  .edition1-month {
    font-size: 26px;
  }

  .edition1-place {
    font-size: 22px;
  }

  .text p:first-child,
  .text p:last-child {
    font-size: 26px;
  }

  .btn1,
  .btn2 {
    height: 50px;
    font-size: 18px;
  }

  .links .link1 {
    height: 50px;
    width: 50px;
  }

  .link1 i {
    font-size: 30px;
  }

  .info p {
    font-size: 16px;
  }

  .page {
    gap: 20px;
    /* flex-direction: column; */
  }

  .page h2 {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .highlight {
    font-size: 40px;
  }

  .main-text {
    font-size: 20px;
  }

  .edition1-top,
  .edition1-date,
  .edition1-month {
    font-size: 22px;
  }

  .edition1-place {
    font-size: 18px;
  }

  .text p:first-child,
  .text p:last-child {
    font-size: 22px;
  }
}